<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv5 Person Detection</title>
</head>
<body>
    <h1>현재 급식실 상황</h1>
    <ul>
        <li>학생수: <span id="personCount">0</span></li>
        <li>가다리는 시간(예상): <span id="personCount">0</span></li>
        <li>혼잡도(예상): <span id="personCount">0</span></li>
    </ul>
    
    <!-- 여기에 추가적인 웹페이지 디자인 및 표시 로직을 구현할 수 있습니다. -->
</body>
</html>